body {
  background-image: url(images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  background-position: top-left;
  font-family: "League Spartan", sans-serif;
}

article {
  margin: 40px;
  color: #506;
  font-size: 15px;
  margin-right: 30px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 5px;
}

.stars,
.rated {
  padding: 10px;
  margin: 0px;
}

.clasificacion {
  background-color: #fee;
  margin-top: 20px;
  padding-right: 20px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tarjeta {
  background-color: #506;
  color: white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.foto {
  margin-right: 20px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

@media (min-width: 600px) {
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }

  .superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .info {
    flex: 1 1 0;
    text-align: left;
  }

  .contenedor-de-clasificacion {
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
  }

  .clasificacion-1 {
    align-self: flex-start;
  }
  .clasificacion-2 {
    align-self: center;
  }
  .clasificacion-3 {
    align-self: flex-end;
  }

  .contenedor-de-tarjetas {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
  }

  .tarjeta {
    margin: 10px;
    flex-grow: 0.8;
  }

  .tarjeta-2 {
    margin-top: 40px;
  }
  .tarjeta-3 {
    margin-top: 60px;
  }
}
